@page
@using System.Collections;
@model IndexModel
@{
	ViewData["Title"] = "Home Page";
}

<title>@ViewData["Title"]</title>

<div class="grid-container">
	<!--cpu-->
	<div class="card">
		<img src="~/Recources/HomePage Images/CPU.png" class="card-img-top" alt="CPU">
		<div class="card-body">
			<h5 class="card-title">CPU</h5>
		</div>
	</div>
	<!--Motherboard-->
	<div class="card">
		<img src="~/Recources/HomePage Images/Motherboard.png" class="card-img-top" alt="MoBo">
		<div class="card-body">
			<h5 class="card-title">Motherboard</h5>
		</div>
	</div>
	<!--RAM-->
	<div class="card">
		<img src="~/Recources/HomePage Images/RAM.png" class="card-img-top" alt="RAM">
		<div class="card-body">
			<h5 class="card-title">RAM</h5>
		</div>
	</div>
	<!--GPU-->
	<div class="card">
		<img src="~/Recources/HomePage Images/GPU.png" class="card-img-top" alt="GPU">
		<div class="card-body">
			<h5 class="card-title">GPU</h5>
		</div>
	</div>
	<!--CPUCooler-->
	<div class="card">
		<img src="~/Recources/HomePage Images/CPUCooler.png" class="card-img-top" alt="CPUCooler">
		<div class="card-body">
			<h5 class="card-title">CPU Cooler</h5>
		</div>
	</div>
	<!--PSU-->
	<div class="card">
		<img src="~/Recources/HomePage Images/PSU.png" class="card-img-top" alt="PSU">
		<div class="card-body">
			<h5 class="card-title">PSU</h5>
		</div>
	</div>
	<!--Case-->
	<div class="card">
		<img src="~/Recources/HomePage Images/Case.png" class="card-img-top" alt="Case">
		<div class="card-body">
			<h5 class="card-title">Case</h5>
		</div>
	</div>
	<!--Storage-->
	<div class="card">
		<img src="~/Recources/HomePage Images/Storage.png" class="card-img-top" alt="Storage">
		<div class="card-body">
			<h5 class="card-title">Storage</h5>
		</div>
	</div>

</div>
